@keyframes loader {
    0% {opacity: 1;}
    75% {opacity: 1;}
    100% {opacity: 0;}
}
.loaders {
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: $gris;
    z-index: 1;
    text-align: center;
    animation-delay: 4s;
    animation: loader 4s;
    animation-fill-mode: both;
    .logo{
        width: 40%;
        margin-top: 40%;
    }
    .loader1{
        left: 40%;
        animation-delay: 0s;
        background: $primary_color;
    }
    .loader2{
        left: 48%;
        animation-delay: 0.12s;
        background: $secondary_color;
    }
    .loader3{
        left: 56%;
        animation-delay: 0.24s;
        background: $tertiary_color;
    }
  }
  .loaders .loader1, .loader2, .loader3 {
    display: inline-block;
    position: absolute;
    left: 40%;
    width: 4%;
    animation: loaders 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }
  @keyframes loaders {
    0% {
      top: 45%;
      height: 64px;
    }
    50%, 100% {
      top: 50%;
      height: 32px;
    }
  }
